---
import crusadeEn from '~/assets/images/events/jesus_fest_kuopio_2025_flyer_en.webp';
import crusadeFi from '~/assets/images/events/jesus_fest_kuopio_2025_flyer_fi.webp';
import winterRevivalEn from '~/assets/images/events/jesus_fest_winter_revival_2025_en.webp';
import winterRevivalFi from '~/assets/images/events/jesus_fest_winter_revival_2025_fi.webp';
import prayerConferenceEn from '~/assets/images/events/rukous_konfferenssi_kuopio_2025_flyer_en.webp';
import prayerConferenceFi from '~/assets/images/events/rukous_konfferenssi_kuopio_2025_flyer_fi.webp';
import Image from '~/components/common/Image.astro';
import GradientText from '~/components/ui/GradientText.astro';
import Headline from '~/components/ui/Headline.astro';
import { MarqueeDemo } from '~/components/ui/Marguee';
import ContentSection from '~/components/widgets/ContentSection.astro';
import Hero from '~/components/widgets/Hero.astro';
import StepsOriginal from '~/components/widgets/StepsOriginal.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Rukouksen seurakunta | Jesus Fest Talvi Herätys',
  description:
    'Rukouksen seurakunta on Kuopiossa kokoontuva ryhmä, joka keskittyy Jeesukseen, intohimoiseen rukoukseen, Hengen ja Sanan täyttämään elämään, sekä herätyksen levittämiseen. Tule mukaan rukouskokouksiin ja kohtaa Jeesus. Savilahti, Kuopio.',
  ignoreTitleTemplate: true,
  canonical: 'https://rukouksenseurakunta.fi',
  openGraph: {
    title: 'Rukouksen seurakunta | Jesus Fest Talvi Herätys',
    description:
      'Rukouksen seurakunta on Kuopiossa kokoontuva ryhmä, joka keskittyy Jeesukseen, intohimoiseen rukoukseen, Hengen ja Sanan täyttämään elämään, sekä herätyksen levittämiseen. Tule mukaan rukouskokouksiin ja kohtaa Jeesus.',
    type: 'website',
    image: winterRevivalFi,
    article: {
      publishedTime: '2025-03-03T05:03:23+02:00',
      modifiedTime: '2025-03-03T05:03:23+02:00',
      authors: ['Rukouksen seurakunta'],
      tags: [
        'Rukouksen seurakunta',
        'Rukouksen seurakunta Kuopio',
        'Savilahti',
        'Kuopio',
        'Savilahden seurakunta',
        'Kuopio seurakunta',
      ],
    },
  },
  twitter: {
    handle: '@RukouksenSrk',
    site: '@RukouksenSrk',
    cardType: 'summary_large_image',
  },
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const reviews = [
  {
    name: t('event1.test1.name'),
    body: t('event1.test1.t'),
  },
  {
    name: t('event1.test2.name'),
    body: t('event1.test2.t'),
  },
  {
    name: t('event1.test9b.name'),
    body: t('event1.test9b.t'),
  },
  {
    name: t('event1.test3.name'),
    body: t('event1.test3.t'),
  },
  {
    name: t('event1.test5.name'),
    body: t('event1.test5.t'),
  },
  {
    name: t('event1.test4.name'),
    body: t('event1.test4.t'),
  },
  {
    name: t('event1.test4b.name'),
    body: t('event1.test4b.t'),
  },
  {
    name: t('event1.test6.name'),
    body: t('event1.test6.t'),
  },
  {
    name: t('event1.test7.name'),
    body: t('event1.test7.t'),
  },
  {
    name: t('event1.test8.name'),
    body: t('event1.test8.t'),
  },
  {
    name: t('event1.test9.name'),
    body: t('event1.test9.t'),
  },
  {
    name: t('event1.test10.name'),
    body: t('event1.test10.t'),
  },
];
---

<Layout metadata={metadata}>
  <Hero tagline={t('events')} title={t('winterRevival')}>
    <Fragment slot="image">
      <div class="relative m-auto max-w-5xl text-center">
        <Image
          class="mx-auto rounded-md w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          decoding="async"
          objectPosition="top top"
          width={1024}
          height={576}
          src={lang === 'en' ? winterRevivalEn : winterRevivalFi}
          alt={t('winterRevivalImageAlt')}
        />
      </div>

      <p class="text-center text-sm xl:text-[14px] xl:leading-[20px] text-muted dark:text-slate-400 mb-12 xl:mb-[48px]">
        {t('winterRevivalImageText')}
      </p>
    </Fragment>

    <Fragment slot="subtitle">
      <span>{t('eventsSubtitleItem1')}</span><br />
      <div class="flex justify-center">
        <span
          class="flex flex-col gap-2 pb-8 xl:pb-[32px] text-left text-xl xl:text-[20px] xl:leading-[28px] text-muted dark:text-slate-300 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          <span>{t('eventsSubtitleItem2')}<span class="text-white"> </span></span>
          <span>{t('eventsSubtitleItem3')}<span class="text-white">👩‍🦽‍➡️✨🏃‍♀️‍➡️</span></span>
          <span>{t('eventsSubtitleItem4')}<span class="text-white"></span></span>
          <span>{t('eventsSubtitleItem5')}<span class="text-white"></span></span>
        </span>
      </div>
      <span
        class="text-xl xl:text-[20px] xl:leading-[28px] text-muted dark:text-slate-300 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >{t('eventsSubtitle')}</span
      >
      <br />
      <br />
    </Fragment>
  </Hero>

  <ContentSection classes={{ content: 'm-auto max-w-5xl xl:max-w-[1024px]' }}>
    <Fragment slot="title">
      <GradientText class="text-3xl md:text-4xl xl:text-[36px] xl:leading-[40px]">
        Jesus Fest Kuopio 2025
      </GradientText>
    </Fragment>

    <Fragment slot="default">
      <Image
        class="mx-auto rounded-md w-full"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        decoding="async"
        width={1024}
        height={576}
        src={lang === 'en' ? crusadeEn : crusadeFi}
        alt={t('crusadeImageAlt')}
      />

      <p class="text-center text-sm xl:text-[14px] xl:leading-[20px] text-muted dark:text-slate-400 mb-12 xl:mb-[48px]">
        {t('crusadeImageText')}
      </p>

      <div class="">
        <GradientText
          class="text-2xl md:text-3xl xl:text-[30px] xl:leading-[36px] font-bold leading-tighter tracking-tighter mb-4 font-heading text-gray-200 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          {t('aboutTheEvent')}
        </GradientText>

        <p
          class="text-xl text-muted intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          {t('aboutTheEventText')}
        </p>

        <br />

        <GradientText
          class="text-lg xl:text-[20px] xl:leading-[28px] font-bold leading-tighter tracking-tighter mb-4 font-heading text-gray-200 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          {t('reasonForTheEvent')}
        </GradientText>
        <p
          class="text-xl text-muted intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          {t('reasonForTheEventText')}
          <br />
          <br />
          {t('reasonForTheEventText2')}
        </p>

        <br />
        <GradientText
          class="text-lg xl:text-[20px] xl:leading-[28px] font-bold leading-tighter tracking-tighter mb-4 font-heading text-gray-200 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          {t('whyYouShouldCome')}
        </GradientText>
        <p
          class="text-xl text-muted mb-2 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          {t('whyYouShouldComeText')}
        </p>
      </div>
    </Fragment>

    <StepsOriginal
      classes={{ container: 'py-0 md:py-0 lg:py-0 xl:py-0' }}
      items={[
        {
          title: t('step1.title'),
          description: t('step1.description'),
          icon: 'tabler:eye',
        },
        {
          title: t('step2.title'),
          description: t('step2.description'),
          icon: 'tabler:heart',
        },
        {
          title: t('step3.title'),
          description: t('step3.description'),
          icon: 'tabler:book',
        },
        {
          title: t('step4.title'),
          description: t('step4.description'),
          icon: 'tabler:compass',
        },
        {
          title: t('step5.title'),
          description: t('step5.description'),
          icon: 'tabler:key',
        },
        {
          title: t('step6.title'),
          description: t('step6.description'),
          icon: 'tabler:bible',
        },
        {
          title: t('step7.title'),
          description: t('step7.description'),
          icon: 'tabler:crown',
        },
      ]}
    />

    <div class="relative m-auto max-w-5xl text-center pt-4">
      <GradientText
        class="text-center text-3xl xl:text-[30px] xl:leading-[36px] font-bold leading-tighter tracking-tighter mb-4 font-heading text-gray-200 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
      >
        {t('haveYouHeard')}
        <br />
        {t('haveYouHeard2')}
      </GradientText>
    </div>
  </ContentSection>

  <ContentSection
    classes={{ content: 'm-auto max-w-5xl xl:max-w-[1024px]' }}
    containerClass="pb-0 md:pb-0 lg:pb-0 xl:pb-0"
  >
    <Fragment slot="title">
      <GradientText class="text-3xl md:text-4xl xl:text-[36px] xl:leading-[40px]">
        {t('easterPrayerConference')}
      </GradientText>
    </Fragment>

    <Fragment slot="default">
      <Image
        class="mx-auto rounded-md w-full"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        decoding="async"
        width={1024}
        height={576}
        src={lang === 'en' ? prayerConferenceEn : prayerConferenceFi}
        alt={t('prayerConferenceImageAlt')}
      />

      <p class="text-center text-sm xl:text-[14px] xl:leading-[20px] text-muted dark:text-slate-400 mb-12 xl:mb-[48px]">
        {t('prayerConferenceImageText')}
      </p>

      <Headline classes={{ title: 'text-2xl' }} title={t('whatHappened')} subtitle={t('hereAreSome')} />
    </Fragment>
  </ContentSection>

  <MarqueeDemo reviews={reviews} />
</Layout>
